/JSF/navegavionJSF/nbproject/private/
/JSF/navegavionJSF/build/
/JSF/navegavionJSF/dist/
/JSF/navegation/nbproject/private/
/JSF/navegation/build/
/JSF/navegationDos/nbproject/private/
/JSF/navegationDos/build/
/projectosWithMaven/reino-animal/target/
/projectosWithMaven/Ejercicios/target/
/projectosWithMaven/Coffe-Stock-App/target/
/projectosWithMaven/JSFPrimerosPasosMitoCode/nbproject/private/
/projectosWithMaven/JSFPrimerosPasosMitoCode/build/
/.metadata/
