*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color:#6699ff;
        
}
figcaption{
    background-color:#ffff00;
    width:14%;
    text-align:center;
    font-size:16px;
    border:6px solid #ff0033;
    box-shadow:#cccccc 5px 5px 10px;
    border-radius: 15px;
    float:left;
    position:absolute;
    left: 15px;
    margin-top:240px;
}

img{
    float:left;
    margin-left:50px;
    margin-top:50px;
}

#figacaption1{
    margin-left:35px;
}

#figcaption2{
    margin-left:370px;
}

#figcaption3{
    margin-left:740px;
}

#titulo{
    background-color:#00cccc;
    font-size:16px;
    text-align:center;
    margin:40%;
    margin-top:5px;
    margin-bottom:1px; 
    border:#000 solid 2px;
    border-radius:15px; 
    box-shadow:#cccccc 5px 5px 10px;
    padding: 15px;
        
}