<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=portfolio</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>


	<property name="connection.pool_size">1</property>
    	<!-- Después de que el proyecto de hibernación se ejecute correctamente, puede ver la instrucción sql formateada en la consola-->
    	<property name="format_sql">true</property>
    	<!-- Prefijar todas las tablas-->
    	<!--<property name="hibernate.default_schema">dbo</property>-->
    	<!-- Eliminar la estructura de la tabla original y agregar datos después de generar una nueva tabla-->
    	<!-- actualiza el valor, conserva la tabla original, agrega nuevos datos-->
    	<property name="show_sql">true</property>
    	
    	

        
        <mapping resource="Persistence/MapperXML/Proyecto/Proyecto.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
